/**************************************************
    Variables
**************************************************/

/* Color */
$warning-color: #ef0000;

// primary
$primary-900: #1142A6;
$primary-800: #1552C2;
$primary-700: #165EDA;
$primary-600: #236CEB;
$primary-500: #347BF6;
$primary-400: #498EFC;
$primary-300: #69A2FF;
$primary-200: #91BFFF;
$primary-100: #C7DFFF;
$primary-50: #EBF2FF;

// gray
$gray-900: #1F1F22;
$gray-800: #414348;
$gray-700: #505359;
$gray-600: #707378;
$gray-500: #989BA0;
$gray-400: #BFC2C7;
$gray-300: #D6D9DD;
$gray-200: #E8EAED;
$gray-100: #F0F1F2;
$gray-50: #F5F6F7;



// red
$red-900: #C30014;
$red-800: #D11922;
$red-700: #DE232A;
$red-600: #F02F30;
$red-500: #FF3B30;
$red-400: #F94D4C;
$red-300: #EE7071;
$red-200: #F69999;
$red-100: #FFCDD2;
$red-50: #FFEBEE;

// green
$green-900: #006900;
$green-800: #008911;
$green-700: #009A20;
$green-600: #00AD2D;
$green-500: #00BC37;
$green-400: #34C759;
$green-300: #64D278;
$green-200: #96DEA0;
$green-100: #C0EBC5;
$green-50: #E5F7E8;

// yellow
$yellow-900: #E76D12;
$yellow-800: #ED8C11;
$yellow-700: #F6A10D;
$yellow-600: #FBB713;
$yellow-500: #FFCC00;
$yellow-400: #FFCC00;
$yellow-300: #FFD743;
$yellow-200: #FFE17C;
$yellow-100: #FFEDB0;
$yellow-50: #FFF8E0;

// scrim
$scrim-90: rgba(0, 0, 0, 0.9);
$scrim-80: rgba(0, 0, 0, 0.8);
$scrim-70: rgba(0, 0, 0, 0.7);
$scrim-60: rgba(0, 0, 0, 0.6);
$scrim-50: rgba(0, 0, 0, 0.5);
$scrim-40: rgba(0, 0, 0, 0.4);
$scrim-30: rgba(0, 0, 0, 0.3);
$scrim-20: rgba(0, 0, 0, 0.2);
$scrim-15: rgba(0, 0, 0, 0.15);
$scrim-10: rgba(0, 0, 0, 0.1);
$scrim-9: rgba(0, 0, 0, 0.09);
$scrim-8: rgba(0, 0, 0, 0.08);
$scrim-7: rgba(0, 0, 0, 0.07);
$scrim-6: rgba(0, 0, 0, 0.06);
$scrim-5: rgba(0, 0, 0, 0.05);
$scrim-4: rgba(0, 0, 0, 0.04);
$scrim-3: rgba(0, 0, 0, 0.03);
$scrim-2: rgba(0, 0, 0, 0.02);
$scrim-1: rgba(0, 0, 0, 0.01);

// scrim-light
$scrim-light-90: rgba(255, 255, 255, 0.9);
$scrim-light-80: rgba(255, 255, 255, 0.8);
$scrim-light-70: rgba(255, 255, 255, 0.7);
$scrim-light-60: rgba(255, 255, 255, 0.6);
$scrim-light-50: rgba(255, 255, 255, 0.5);
$scrim-light-40: rgba(255, 255, 255, 0.4);
$scrim-light-30: rgba(255, 255, 255, 0.3);
$scrim-light-20: rgba(255, 255, 255, 0.2);
$scrim-light-10: rgba(255, 255, 255, 0.1);
$scrim-light-7: rgba(255, 255, 255, 0.07);
$scrim-light-5: rgba(255, 255, 255, 0.05);
$scrim-light-3: rgba(255, 255, 255, 0.03);

// default
$default-black: #000000;
$default-white: #FFFFFF;
$default-red: #FF0000;
$default-green: #34C759;
$default-yellow: #FFCC00;
